<section>
  <div class="container">
    <div id="about-info">
      <div class="info-left">
        <h1 class="l-heading"><span class="text-primary">About</span> Hotel BT</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem cum dicta illo ipsum magni nihil officia
          possimus, quaerat recusandae sunt unde voluptates? Alias blanditiis dignissimos distinctio harum hic rerum.
        </p>
      </div>
      <div class="info-right">
        <img
          src="https://images.unsplash.com/photo-1685223366876-892c28363596?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80"
          alt="" srcset="">
      </div>
    </div>
  </div>
</section>
