<section>
  <h1>Landing page - definition</h1>
  <p>
    A landing page is a website created for a very specific purpose (e.g. in a sales campaign for a new product), the purpose of which is to encourage Internet users to take specific actions.
  </p>
  <p>
    Typically, a landing page consists of a single page (with no additional tabs) filled with sections and call-to-action (CTA) slogans that encourage visitors to take specific steps.
  </p>
  <p>
    Create a landing page with website creators like BOWWE and Squarspace takes a few minutes.
  </p>
</section>

<section>
  <h1>What is a landing page useful for?</h1>
  <p>
    Contrary to appearances, not only to sell. Often the task of landing pages is to lead as many users as possible to the next stages of sales. If the landing page collects contact details of potential customers with whom you can then communicate - it increases their interest in the products or services you offer. It also increases the level of their commitment and relationship with your brand, which is important in building the sales process.
  </p>
  <p>
    How to successfully build such a process from scratch? You will find out in article below!
    An effectively converting landing page - what you need to do to have it!
  </p>
  <p>
    <strong>Landing pages are especially effective in advertising campaigns.</strong> Then they bring much better results than regular websites, which often have many functions and are targeted at many groups of recipients. However, in an advertising campaign, it is extremely important to focus your message on one thing that we want to convince potential customers to visit the landing page. All information should be visible, easily accessible, and intuitive, execution of the expected action by the client - very simple. Thanks to this simplicity of information and focus on one goal, a landing page will usually be much more effective in terms of its implementation.
  </p>
  <div class="image-container">
    <img src="https://images.unsplash.com/photo-1689524697095-830c5b24d84e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2578&q=80" alt="marketing tag" srcset="">
    <h2>Does a small company need landing pages?</h2>
  </div>
</section>
