/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; line-height: 1.7}
.main-container {
  max-width: 90%;
  margin: 30px auto;
  height: 100vh;
}
/* Utility class*/
.text-center {
  text-align: center;
}
.product-card-container {
  max-width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.example-card {
  max-width: 400px;
  padding: 20px;
}

mat-card img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  /* center the image using flex properties*/
  /*align-self: center;*/
  /* center the image using margin properties*/
  margin: 15px auto;
}

.action-button{
  display: flex !important;
  align-self: center;
  gap: 15px;
}


.item-card-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 15px;
}

.item-card {
  max-width: 400px;
  padding: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

